:host {
  display: flex;
  flex-direction: column;
}

figure{
  flex-grow: 1;
  margin: 0;
  width: 25em;
  border-radius: 15px;
  border: 1px solid var(--border-grey);
  background-color: var(--light-grey);
  .heroImg{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 15vh;
    object-fit: cover;
  }
  .source{
    text-decoration: none;
    color: var(--text);
    position: absolute;
    display: flex;
    top: 12vh;
    right: 1px;
    z-index: 2;
    padding: 5px 2px 2px 5px;
    &:before{
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 5px 0 0 0;
      background-color: var(--light-grey);
      opacity: 0.7;
      z-index: -1;}
  }

  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  .icon{
    width: 8vh;
  }
  .content{
    display: flex;
    padding: 1vw;
    flex-direction: column;
    h3{
      font-size: 1.4em;
    }
    h4{
      font-size: 1.3em;
    }
    h3,h4{
      margin: 1vh 0;
    }
    p{
      text-align: justify;
      margin-top: 0;
    }

  }
  .enSavoirPlus{
    border-top: dashed 2px var(--border-grey);
    display: flex;
    height: auto;
    align-items: center;
    padding: 1vw;
    :hover ~ p{
      margin-left: 2.5vw;
    }
    a{
      text-decoration: none;
      margin-left: 3vw;
      color: var(--text);
    }
    a::after {
      content: "";
      position: absolute;
      display: block;
      width: 7vw;
      height: 1px;
      background-color: var(--text);
      transform: scaleX(0);
      transition: transform 0.8s ease;
    }
    a:hover::after {
      transform: scaleX(1);
    }
    p{
      margin: auto 0;
      transition: margin-left 0.8s ease;
    }
  }
}

@media (orientation: portrait){
  figure{
    width: 80vw;
    .content{
      padding: 2vw;
    }
    .enSavoirPlus{
      padding: 2vh;
      :hover ~ p{
        margin-left: 10vw;
      }
      a{
        margin-left: 15vw;
        &::after{
          width: 33vw;
        }
      }
      p {
        margin: auto 0;
      }
    }
  }
}