figure{
  margin: 0;
  width: 20vw;
  border-radius: 15px;
  border: 1px solid rgb(210, 210, 210);
  background-color: white;
  .heroImg{
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 15vh;
    object-fit: cover;
  }
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  .icon{
    width: 8vh;
  }
  .content{
    display: flex;
    padding: 1vw;
    flex-direction: column;
    h3{
      font-size: 1.4em;
    }
    h4{
      font-size: 1.3em;
    }
    h3,h4{
      margin: 1vh 0;
    }
    p{
      text-align: justify;
      margin-top: 0;
    }

  }
  .enSavoirPlus{
    border-top: dashed 2px rgb(210, 210, 210);
    display: flex;
    height: auto;
    align-items: center;
    padding: 1vw;
    :hover ~ p{
      margin-left: 2.5vw;
    }
    a{
      text-decoration: none;
      margin-left: 3vw;
      color: black;
    }
    a::after {
      content: "";
      position: absolute;
      display: block;
      width: 7vw;
      height: 1px;
      background-color: #000;
      transform: scaleX(0);
      transition: transform 0.8s ease;
    }
    a:hover::after {
      transform: scaleX(1);
    }
    p{
      margin: auto 0;
      transition: margin-left 0.8s ease;
    }
  }
}

@media (orientation: portrait){
  figure{
    width: 80vw;
    .content{
      padding: 2vw;
    }
    .enSavoirPlus{
      padding: 2vh;
      :hover ~ p{
        margin-left: 10vw;
      }
      a{
        margin-left: 15vw;
        &::after{
          width: 33vw;
        }
      }
      p {
        margin: auto 0;
      }
    }
  }
}