<figure >
    <img src="../../../assets/cardPro/{{projet.image}}.png" alt="{{projet.image}}">
    <div class="content">
        <div class="base">
            <h3>{{projet.name}}</h3>
            <p>{{projet.description}}</p>
        </div>
        <div class="complement">
            <h4>{{projet.intitule}}</h4>
            <p *ngIf="projet.complement.type === 'text'">{{projet.complement.list}}</p>
            <!--<div *ngIf="projet.complement.type === 'img'"></div>-->
        </div>
        <div class="enSavoirPlus" *ngIf="projet.link != null">
            <a href="{{projet.link}}" target="_blank">En savoir plus </a>
            <p>&#10140;</p>
        </div>
    </div>
</figure>