<aside id="links">
    <a routerLink="/accueil"><img src="assets/home.svg" alt="home" id="home" /></a>
    <hr />
    <ul>
        <li><a href="https://bsky.app/profile/annakiedraw.bsky.social" target="_blank"><img src="assets/bluesky.png" alt="" /></a></li>
        <li><a href="https://www.instagram.com/annakie_draw" target="_blank"><img src="assets/Insta.png" alt="" /></a></li>
        <li><a href="https://x.com/AnnakieDraw" target="_blank"><img src="assets/Twitter.png" alt="" /></a></li>
    </ul>
    <hr />
    <div id="triangle"></div>
</aside>