#links {
  z-index: 10;
  color: var(--text);
  background: linear-gradient(180deg,var(--Claret),90%,var(--Crayola));
  height: 95vh;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: -85vh;
  right: 5vw;
  transition: ease 0.8s ;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 97%, 50% 100%, 50% 97%, 0 100%);
  animation: float 20s ease-in-out infinite;
  &:hover {
    top: -80vh;
  }
  &.open{
    top: 0;
  }
  &.anim{
    animation: none;
  }
}

hr {
  height: 15vh;
  width: 0.01vw;
  background-color: var(--text);
}

ul {
  padding: 0;
}

li {
  padding: 1vh 0;
  margin: auto;
  list-style: none;
}
img {
  display: flex;
  margin: auto;
  width: 2.5vw;
}

@media (orientation: portrait) {
  #links {
    width: 13vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 97%, 50% 100%, 50% 97%, 0 100%);
  }
  img{
    width: 7vw;
  }
}

@keyframes float {
  0%, 95% {
    transform: translateY(0);
  }
  97.5% {
    transform: translateY(10vh);
  }
  100% {
    transform: translateY(0);
  }
}