<aside id="links" [class.open]="menuOpen" [class.anim]="cancelAnimation" (click)="toggleMenu()">
    <hr />
    <ul>
        <li><a href="https://bsky.app/profile/annakiedraw.bsky.social" target="_blank"><img src="assets/bluesky.png" alt="Bluesky" /></a></li>
        <li><a href="https://www.instagram.com/annakie_draw" target="_blank"><img src="assets/Insta.png" alt="Instagram" /></a></li>
        <li><a href="https://github.com/AnnaAnnakie" target="_blank"><img src="assets/github.png" alt="github"></a></li>
    </ul>
    <hr />
</aside>
