div{
  position: absolute;
  background: repeating-linear-gradient(
                  45deg,
                  var(--Apricot),
                  var(--Apricot) 10px,
                  black 10px,
                  black 20px
  );
  display: flex;
  top: 8vh;
  left: -5vw;
  width: 25vw;
  justify-content: center;
  transform: rotate(-40deg);
  z-index: 2;
  p{
    padding: 0.5vw 1vw;
    font-size: 1.3em;
    background-color: var(--Apricot);
  }
}