<div class="container">
    <div class="fiftyfifty" id="global">
        <h2>{{contents.content.firstTitleLeftSection}}</h2>
        <p>
            {{contents.content.presentation}}
        </p>
        <h2>{{contents.content.secondTitleLeftSection}}</h2>
        <h3>{{contents.content.subTitleLeftSection1}}</h3>
        <div id="prefs">
            <ul>
                <li *ngFor="let comp of contents.content.firstSubSection.list">
                    <img src="assets/languages/{{comp}}.png" alt="{{comp}}">
                </li>
            </ul>
        </div>
        <h3>{{contents.content.subTitleLeftSection2}}</h3>
        <div id="used">
            <ul>
                <li *ngFor="let comp of contents.content.secondSubSection.list">
                    <img src="assets/languages/{{comp}}.png" alt="{{comp}}">
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="fiftyfifty" id="bulles">
        <h2>{{contents.content.titleRightSide}}</h2>
        <div id="figures">
            <!--<app-carousel [cardList]="contents.content.cardList"></app-carousel>-->
            <ul>
                <li *ngFor="let card of contents.content.cardList">
                    <app-card [projet] = card></app-card>
                </li>
            </ul>
        </div>
    </div>
</div>