.container {
  display: flex;
  min-height: 100vh;
}

hr{
  color: var(--border-grey);
  background-color: var(--border-grey);
  border-color: var(--border-grey);
  width: 1px;
}

.fiftyfifty{
  width: calc(50vw - 8vh);
  padding: 2vh 2vw;
}
li{
  list-style: none;
  &#content{
    width: 44vw;
  }
  &.list{
    display: flex;
    justify-content: center;
    margin: 1vh auto;
    position: relative;
    span{
      position: absolute;
      opacity: 0;
      z-index: 3;
      top: -5vh;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      transition: 0.3s ease-in;
      background-color: var(--Amaranth-purple);
      color: #fff;
      min-width: 5vw;
      padding: 1vh 1vw;
      &:before{
        background-color: var(--Amaranth-purple);
        z-index: 2;
        content: '';
        position: absolute;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
        width: 2.5vh;
        height: 2.5vh;
        bottom: -1.2vh;
      }
    }
    :hover ~ span, span:hover{
      opacity: 0.9;
    }
  }
}
ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#global{
  p{
    text-align: justify;
  }
}
#prefs, #used{
  img{
    height: 5vw;
  }
}

h2{
  font-size: 2.3em;
  color: var(--Crayola);
/*  background: -webkit-linear-gradient(180deg,var(--Lavender-blush) 40%, var(--Salmon-pink) 85%, var(--Claret) 115%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}
p{
  font-size: 1.1em;
}

@media (orientation: portrait) {
  .container {
    width: 100vw;
    flex-direction: column;
    .fiftyfifty{
      padding: 1vh 3vw;
      &, h2{
        width: 94vw;
      }
    }
  }
  li{
    &#content{
      width: 75vw;

    }
    &.list{
      span{
        padding: 1vh 2vw;
      }
    }
  }
  #figures{
    display: flex;
    flex-direction: column;
  }
  hr{
    display: none;
  }
  #prefs, #used{
    img{
      height: 15vw;
    }
  }

}
