.container {
  display: flex;
  width: 95vw;
  min-height: 100vh;
}
.fiftyfifty{
  width: 48vw;
  padding: 2vh 2vw;
}
li{
  list-style: none;
  margin: 1vh auto;
}
ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
#prefs, #global{

  img{
    height: 6vw;
  }
}

h2{
  font-size: 2em;
}

@media (orientation: portrait) {
  .container {
    width: 87vw;
    flex-direction: column;
    .fiftyfifty{
      width: 87vw;
    }
  }
  #figures{
    display: flex;
    flex-direction: column;
  }
  hr{
    display: none;
  }
  #prefs{
    img{
      width: 25vw;
    }
  }

}