.container {
  display: flex;
  width: 95vw;
  min-height: 100vh;
}
.fiftyfifty{
  width: 48vw;
  padding: 2vh 2vw;
}

li{
  margin: 1vh auto;
  list-style: none;
}
ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#global{
  p{
    text-align: justify;
  }
}
#prefs, #used{
  img{
    height: 5vw;
  }
}

h2{
  font-size: 2em;
}

@media (orientation: portrait) {
  .container {
    width: 87vw;
    flex-direction: column;
    .fiftyfifty{
      width: 81vw;
      padding: 1vh 3vw;
    }
  }
  #figures{
    display: flex;
    flex-direction: column;
  }
  hr{
    display: none;
  }
  #prefs, #used{
    img{
      height: 15vw;
    }
  }

}