<a routerLink="/accueil"><img src="assets/home.svg" alt="home" id="home" /></a>
<div class="container">
    <div class="fiftyfifty" id="global">
        <h2>{{contents.content.firstTitleLeftSection}}</h2>
        <p>
            {{contents.content.presentation}}
        </p>
        <ul>
            <li *ngFor="let section of contents.content.sectionsLeft" id="content">
                <h2 *ngIf="section.bigTitle != null">{{section.bigTitle}}</h2>
                <h3 *ngIf="section.subTitleLeftSection != null">{{section.subTitleLeftSection}}</h3>
                <div id="prefs">
                    <ul *ngIf="section.type === 'images'">
                        <li *ngFor="let comp of section.list"  class="list">
                            <img src="assets/{{section.path}}/{{comp}}.png" alt="{{comp}}">
                            <span>{{comp}}</span>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>

    </div>
    <hr>
    <div class="fiftyfifty" id="bulles">
        <h2>{{contents.content.titleRightSide}}</h2>
        <div id="figures">
            <!--<app-carousel [cardList]="contents.content.cardList"></app-carousel>-->
            <ul>
                <li *ngFor="let card of contents.content.cardList" class="list">
                    <app-card [projet] = card></app-card>
                </li>
            </ul>
        </div>
    </div>
</div>