<div class="container">
    <div class="fiftyfifty" id="global">
        <p>
            test
        </p>
    </div>
    <div class="fiftyfifty" id="bulles">
        <h2>Mes projets</h2>
        <div id="figures">
            <figure>
                <img src="assets/placeholder.png" alt="placeholder">
                <div class="content">
                    <div class="base">
                        <h3>Lorem</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="complement">
                        <h4>Infos complémentaires</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                    <div class="enSavoirPlus">
                        <a routerLink="/infos">En savoir plus </a>
                        <p>&#10140;</p>
                    </div>
                </div>
            </figure><figure>
            <img src="assets/placeholder.png" alt="placeholder">
            <div class="content">
                <div class="base">
                    <h3>Lorem</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="complement">
                    <h4>Infos complémentaires</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="enSavoirPlus">
                    <a routerLink="/infos">En savoir plus </a>
                    <p>&#10140;</p>
                </div>
            </div>
        </figure><figure>
            <img src="assets/placeholder.png" alt="placeholder">
            <div class="content">
                <div class="base">
                    <h3>Lorem</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="complement">
                    <h4>Infos complémentaires</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="enSavoirPlus">
                    <a routerLink="/infos">En savoir plus </a>
                    <p>&#10140;</p>
                </div>
            </div>
        </figure>
        </div>
    </div>
</div>