<a routerLink="/accueil" id="home"></a>
<div class="content">
    <div class="explications">
        <h2 class="specialTitle">Me contacter</h2>
        <p>
            Si vous avez envie de me contacter pour un emploi, un stage, autre. J'apprécie
            les retours (positif ou négatif) sur ce portfolio.
        </p>
        <p id="info">
            Ce formulaire a été créé grâce à Formspree. Il est possible que des problèmes surviennent de leur côté.
            Si rien ne se passe, vous pouvez me contacter directement via mon mail : anais.marchetti&#64;etu.univ-grenoble-alpes.fr. Merci pour votre compréhension.
        </p>
    </div>
    <form action="https://formspree.io/f/xdkapzkq" method="post">
        <label class="field">
            Mail *
            <input id="mail" type="email" name="email" placeholder="example@email.com"
                   (input)="updateMail($event)">
        </label>
        <label class="field">
            Message *
            <textarea id="message" name="message" placeholder="..."
                      (input)="updateMessage($event)"></textarea>
        </label>
        <div id="reponse">
            <input type="checkbox" name="reponse">
            <label> Je souhaiterais être recontacté</label>
        </div>

        <button type="submit" [disabled]="isValid()">ENVOYER</button>
    </form>
</div>