<div class="carousel-container">
    <nav>
        <button class="nav-btn left" (click)="prev()">❮</button>

        <div class="indicator-dots">
        <span
                *ngFor="let card of cardList; let i = index"
                class="dot"
                [class.active]="i === currentIndex">
        </span>
        </div>

        <button class="nav-btn right" (click)="next()">❯</button>
    </nav>

    <div class="carousel-wrapper"
         (touchstart)="onTouchStart($event)"
         (touchend)="onTouchEnd($event)">
        <div *ngFor="let projet of cardList; let i = index"
                class="card"
                [ngClass]="getCardClass(i)">
            <app-card [projet]="projet"></app-card>
        </div>
    </div>
</div>
