.carousel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: inherit;
  padding: 0 8vw;
  width: max-content;
}

nav{
  display: inline-flex;
}

.carousel-wrapper {
  display: grid;
  > .card{
    grid-area: 1 / 1;
  }
}

.card {
  transition: transform 0.6s ease, opacity 0.6s ease, filter 0.3s ease;
  opacity: 0;
  pointer-events: none;

}

.card.center {
  transform: translateX(0) scale(1) rotateY(0deg);
  opacity: 1;
  z-index: 1;
  pointer-events: auto;
}

.card.left {
  transform: translateX(-8vw) scale(0.8);
  opacity: 1;
  filter: blur(1px) grayscale(0.5);
  z-index: 0;
  position: absolute;
}

.card.right {
  transform: translateX(8vw) scale(0.8) ;
  opacity: 1;
  filter: blur(1px) grayscale(0.5);
  z-index: 0;
  position: absolute;
}

.card.hidden {
  transform: translateX(0) scale(0.5);
  opacity: 0;
  z-index: -1;
}

.nav-btn {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  z-index: 3;
}

.indicator-dots {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--text);
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--Rose-red);
}

@media (orientation: portrait) {
  .carousel-container {
    padding: 0 10%;
  }

  .card.left {
    transform: translateX(-30%) scale(0.55);
  }

  .card.right {
    transform: translateX(30%) scale(0.55) ;
  }
}