/* You can add global styles to this file, and also import other style files */
:root {
  --Chocolate-cosmos: #461220;
  --Cordovan: #8c2f39;
  --Redwood: #b23a48;
  --Melon: #fcb9b2;
  --Apricot: #fed0bb;
}
body{
  padding: 0;
  margin: 0;
}