.content {
  display: flex;
  padding: 0;
  left: 0;
  width: 95vw;
}

.content > div {
  padding: 4vw;
  min-height: calc(100vh - 8vw);
  display: flex;
}

h1 {
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: 4vw;
}

#div1,
#div2 {
  flex: 50%;
  transition: flex 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.content:hover:not(#links) #div1:not(:hover):not(#links) h1,
.content:hover:not(#links) #div2:not(:hover):not(#links) h1 {
  transform: scale(0.8);
  opacity: 0.5;
}

.content:hover #div1:hover,
.content:hover #div2:hover {
  flex: 60%;
  z-index: 2;
}

.content:hover:not(#links) #div1:not(:hover):not(#links),
.content:hover:not(#links) #div2:not(:hover):not(#links) {
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
}

@media (orientation: portrait) {
  .content {
    flex-wrap: wrap;
    width: 87vw;
  }
  .content div {
    min-height: calc(50vh - 1vw);
  }
  h1 {
    font-size: 7vw;
  }
}