<div class="bandeau">
    <p>Ce portfolio est en cours de développement. Plus d'informations sont à venir.</p>
</div>
<div class="content">
    <div id="div1">
        <h1>Mes hobbies</h1>
        <button routerLink="/infos/perso" disabled>Revenez plus tard</button>
    </div>
    <hr>
    <div id="div2">
        <h1>Dev et expériences</h1>
        <button routerLink="/infos/pro">En savoir plus</button>
        <!--<img src="/assets/languages/JavaScript.png" alt="" id="js">
        <img src="/assets/languages/CPP.png" alt="" id="cpp">-->
    </div>
</div>