<div class="content">
    <div class="title">
        <h1 class="specialTitle">Hello, I'm Anaïs</h1>
        <h2 class="specialTitle">Étudiante en MMI</h2>
    </div>
    <div class="redirects">
        <div class="div1">
            <p>
                Enchanté, Anaïs, si vous ne me connaissez pas encore, vous saurez tout de moi ici, enfin presque. Diplômée d'un BUT Informatique
                vous en apprendrez plus sur mon parcours ici, mais également sur le diplôme que je prépare en ce moment. Actuellement étudiante
                au BUT des Métiers du Multimédia et de l'Internet (MMI) de l'IUT 1 de Grenoble, je souhaite à la fois me perfectionner en
                développement web, bien que la perfection n'existe pas, mais je compte bien ajouter de nouvelles cordes à mon arc. Si vous
                souhaitez en apprendre plus, je vous invite à découvrir mon expérience et mes projets dans les sections associées, en espérant
                que vous trouviez votre bonheur. Le tout en vous souhaitant une magnifique journée évidemment!
            </p>
        </div>
        <div class="div2">
            <button class="rightb" disabled routerLink="/infos/mmi">Parcours MMI <i class="arrow right"></i></button>
            <button class="rightb" routerLink="/infos/info">Parcours Informatique <i class="arrow right"></i></button>
            <button class="rightb" routerLink="/infos/perso">Qui suis-je ? <i class="arrow right"></i></button>
        </div>
    </div>
</div>