<div class="content">
    <div class="title">
        <h1 class="specialTitle">Hello, I'm Anaïs</h1>
        <h2 class="specialTitle">Étudiante en informatique</h2>
    </div>
    <div class="redirects">
        <div class="div1">
            <button class="leftb" routerLink="/infos/perso"><i class="arrow left"></i></button>
            <p>
                En dehors de l'informatique j'ai bien évidemment d'autres intérêts et passions.
                J'ai notamment un grand amour pour le dessin. Si vous souhaitez apprendre un peu plus à me connaitre,
                vous trouverez peut-être votre bonheur de ce côté !
            </p>
        </div>
        <div class="div2">
            <p>
                Si vous êtes sur ce portfolio, c'est probablement en complément de mon CV, pas vrai ? Si vous voulez en
                savoir un peu plus sur mes compétences techniques ou ce qui me lie à l'informatique, c'est probablement
                cette section qui vous intéressera !
            </p>
            <button class="rightb" routerLink="/infos/pro"><i class="arrow right"></i></button>
        </div>
    </div>
</div>